// Override Bulma vars here. Use https://bulma.io/documentation/overview/colors/, not Bulma vars.
// $primary: hsl(217, 71%, 53%);
@import "./node_modules/bulma/bulma.sass";
// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

p.spacer {
	margin-top: 2rem;
}

.schedMod {
	@extend .has-text-centered;
	vertical-align: middle !important;
	font-size: 0.8rem;
	cursor: default;
	max-width: 1px; // Weird solution to weird problem
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	.schedModTextContainer {
		// -webkit-transform: translateY(3rem);
		// -moz-transform: translateY(3rem);
		// -ms-transform: translateY(3rem);
		// -o-transform: translateY(3rem);
		transform: translateY(100%);
	}
}

.schedModTimeHeader {
	width: 6rem;
}
