doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;") Distance Learning Schedule Maker
			.hero-foot
		article.article
			include includes/body.pug
			+section("Test")
				button.button Make My Schedule!

		//- Footer
		include includes/footer.pug
